.footer {
  margin: 0 auto;
  width: 157px;
  height: 79px;
  background: transparent url('./../../../assets/img/logo-recomiendo.png') 0% 0% no-repeat padding-box;
}

.title {
  margin: 0 auto;
  width: 230px;
  height: 26px;
  text-align: center;
  font-size: 1.3rem;
  font: Regular 21px/26px Quicksand;
  font-family: Quicksand;
  letter-spacing: 0px;
  color: #000000;
}

ion-button {
  margin: .8rem 0;
  font: Book 20px/22px Quicksand;
  letter-spacing: 0px;
}

.finalUser {
  --background: linear-gradient(90deg, rgba(255,36,36,1) 0%, rgba(255,187,0,1) 80%);
}

.container{
    position: relative;
    top: 30%;
    padding: .5rem;
}