.container-head{
    background-image: url(../../../assets/img/torta.png);
    height: 8rem;
    padding-top: 1rem;
}

.head-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        margin: 0;
        margin-left: 1rem;
        text-align: left;
        font: Regular 25px/31px Quicksand;
        letter-spacing: -1px;
        color: #000000;
        opacity: 1;
    }
    p{
        margin: 0;
        text-align: left;
        font: Regular 15px/19px Quicksand;
        letter-spacing: -0.6px;
        color: #C0C0C0;
        opacity: 1;
        margin-right: 1rem;
    }
}

.form-input{
    width: 80%;
    margin:  0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 1.9rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-head-information{
    margin-top: -1.25rem;
}

.head-star{
    margin-left: 1rem;
    .icono-start{
        font-size: 12px;
        margin-right: 0.5rem;
    }
}

.menu-divider{
    p{
        margin: 10px;
    }
    text-align: center;
    color: #C0C0C0;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
}

.avatar{
    margin-left: 1rem;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    box-shadow:1px 1px 8px 1px rgba(0, 0, 0, 0.41)
}



// COMPONENTE PARA RE USAR
.conocerte{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    &-titulo{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0;
    }
    &-box{
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     &-subtitulo{
         margin-top: .5rem;
         margin-bottom: 0;
         letter-spacing: -0.8px;
         color: #000000;
         opacity: 1;
         font-size: 1.25rem;
     }
     &-imagen{
         display: flex;
         align-items: center;
         p{
             display: inline;
             font-size: 1.375rem;
             color: #FF6E12;
             margin: 0;
         }
         img{
             margin-left: .5rem;
             width: 30px;
         }
     }
   }
   &-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-subtitulo2{
        margin:0;
        margin-top: .8rem;
        margin-left: .8rem;
        font-size:1.125rem;
        color: #fff;
        line-height: 1.35;
    }
    &-imagen2{
        background: #fff;
        padding: .5rem;
        border-radius: 50%;
        margin-right: .8rem;
    }
   }
   &-tarjeta{
    margin-right: 1rem;
    margin-left: 1rem;
    background-image: linear-gradient(90deg, #FFB300 0%, #FF5A31 100%);
    padding: 0 0 1rem;
    border-radius: 20px;
   }
   &-menudia{
       margin-top: 1rem;
       display: flex;
       justify-content: center;
       align-items: center;
    &-titulo{
        position: absolute;
        color: #fff;
        width: 100%;
        bottom: 0.2rem;
        text-align: center;
        border-radius: 15px;
        background: linear-gradient(0deg, black, transparent);
    }

   }
}

.slide-titulo{
    position: absolute;
    color: #fff;
    width: 100%;
    bottom: 0.2rem;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(0deg, #000, transparent);
}

.slide-precio{
    font-size: 15px;
    opacity: 0.8;
    position: absolute;
    color: #fff;
    padding: 0.2rem;
    padding-right: 1.5rem;
    top: 1.2rem;
    border-radius: 0px 15px 15px 0;
    background-image: linear-gradient(190deg, #FFB300 0%, #FF5A31 100%);
    p{
        margin: 0;
        font-size: 0.9375rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 20px;
    }
}

.btn-food{
    width: 100%;
    height: 33px;
    --border-radius: 5px;
    --background: transparent linear-gradient(-90deg, #FFB300 0%, #FF2424 100%) 0% 0% no-repeat padding-box;
}

// COMPONENTE PARA RE USAR FIN


.espaciado{
    margin-bottom: 2rem; margin-top: 1rem;
}

.container-footer{
    width: 80%;
    margin: 0 auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.container-footer-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-valor{
    background-color: #FF5A31;
    color: white;
    margin-left: 12px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    text-align: center;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono{
    font-size: 1.4rem;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
}
