.signup-logo {
  min-height: 130px;
  text-align: center;

  p {
    font: Regular 21px/26px Quicksand;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0;
    font-size: 1.8rem;
  }
}
.second{
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: .8rem;
    margin-bottom: .8rem; 
}

ion-col{
  text-align: center;
  ion-button{
    font-size: 1rem;
  }
}
p{
  font: Semibold 15px/20px Open Sans;
letter-spacing: 0px;
color: #000000;
text-align: center;
}

ion-label{
  font: Bold 18px/24px Open Sans;
letter-spacing: 0px;
color: #000000;
}

.signup-logo img {
  max-width: 150px;
}

ion-toolbar {
  --background: transparent;
}

.fondo {
  height: 70%;
}

.list {
  margin-bottom: 0;

}
ion-list{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px; 
 
}
form{
  background: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  height: 70%;
  padding: 0 1rem;
  box-shadow: 0 -5px 5px 3px #00000029;
}
ion-checkbox{
  --border-radius:5px;
}

.terms{
  text-align: center;
  letter-spacing: 0px;
  color: #C0C0C0;
  margin: 0 1rem;
}
.login{
text-align: center;
letter-spacing: 0px;
b{
  color: #FFBB00;
}
}


.container-terms{
  display: flex;
  align-items: flex-end;
  ion-checkbox{
    width: 20px;
    height: 20px;
    left: 2%;
    position: relative;
  }
}

// evitar colapso
ion-grid {
  min-height: 100%;
  padding: 0;
}

.disminuirTamano{
  font-size: 16px;
}

.aumentarTamano{
  font-size: 18px;
}