
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="chevron-down" md="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-end">
      <div class="btn-notification">
        <ion-badge color="primary" >66</ion-badge>
        <ion-icon name="notifications">
        </ion-icon>
      </div>
      {{user.user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-cuerpo">

  <p class="title">
    Agregar nuevo votante  
  </p>

  <div class="sub-title">
    <p>
      Inicio > Nuevo votante    
    </p>

    <p (click)="back()">
      volver
    </p>
  </div>
  
  
  <form class="container-table" [formGroup]="formGroup">

    <ion-item>
      <ion-label position="floating" style="font-size: 15px;" >Nombre</ion-label>
      <ion-input type="text"  formControlName="name" inputmode="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="font-size: 15px;" >Apellido</ion-label>
      <ion-input type="text" formControlName="lastname" inputmode="text">
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating" style="font-size: 15px;">Teléfono</ion-label>
      <ion-input type="text" formControlName="phone" inputmode="tel">
      </ion-input>
    </ion-item>


    
    <ion-item>
      <ion-label position="floating" style="font-size: 15px;">Email</ion-label>
      <ion-input type="text" formControlName="email" inputmode="text">
      </ion-input>
    </ion-item>

    <ion-input class="text-custom" placeholder="Red social" formControlName="facebook" inputmode="text">
      <ion-button class="btn-custom">
        Facebook
        <div class="detalles-btn">
          <ion-icon name="chevron-up"></ion-icon>
          <ion-icon name="chevron-down"></ion-icon>  
        </div>
      </ion-button>
    </ion-input>

    <ion-label style="font-size: 15px;" >Subir foto de perfil</ion-label>
    <img src="../../../assets/img/camara.png" alt="Ionic Logo" style="margin: 0 auto;display: block;" (click)="captureImage()" *ngIf="!imgSelected">
    <img [src]="imgSelected" style="margin: 0 auto;display: block;"  (click)="captureImage()" *ngIf="imgSelected">

    <ion-item>
      <ion-label position="floating" style="font-size: 15px;" >Dirección</ion-label>
      <ion-input type="text" formControlName="address" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" style="font-size: 15px;" >Punto de votación</ion-label>
      <ion-input type="text" formControlName="point" inputmode="text">
      </ion-input>
    </ion-item>

    <ion-label style="font-size: 15px;" >Selecciona en el mapa una ubicación</ion-label>

    <div #map id="map" style="height: 600px;width: 600px"></div>
  </form>


  

</ion-content>


<ion-footer class="ion-no-border">
  <div style="margin-bottom: 1rem;">
    <ion-button style=" --border-radius: 10px;
     margin: 0 auto; height: 50px; padding: 0px 20px;" 
    expand="block" [disabled]='formGroup.status != "VALID"' (click)="add()">Guardar
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-button>
  </div>
</ion-footer>