.signup-logo {
  text-align: center;
}

.signup-logo p {
  font-size: 13px;
  color: #4D4F5C;
}

.login {
  text-align: center;
}

.forgot {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: #43425D;
}

.centrar-grid {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
