<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="chevron-down" md="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-end">
      <div class="btn-notification">
        <ion-badge color="primary" >66</ion-badge>
        <ion-icon name="notifications">
        </ion-icon>
      </div>
      Mauricio Rojas</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content class="fondo-cuerpo">
  
    <p class="title">
      Mi celula
    </p>
  
    <p class="title-sencondary">
      Filtro
    </p>
    
    <div class="container-btn">
      <ion-input class="text-custom" placeholder="Buscar" type="text">
  
        <ion-button class="btn-custom">
          <div class="detalles-btn">
            <ion-icon name="chevron-up"></ion-icon>
            <ion-icon name="chevron-down"></ion-icon>  
          </div>
        </ion-button>
  
      </ion-input>
  
      <ion-button class="btn-custom2">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </div>
    
    <div class="container-table">
      <div class="container-sub-table">
        <p>Nombre y apellido</p>
        <p>Acción</p>
      </div>
      <ion-item>
        <ion-label>Maria perez</ion-label>
          <ion-input></ion-input>
          <ion-icon item-end slot="end" name="{{showPass ? 'eye' : 'eye-off'}}"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label>Maria perez</ion-label>
          <ion-input></ion-input>
          <ion-icon item-end slot="end" name="{{showPass ? 'eye' : 'eye-off'}}"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label>Maria perez</ion-label>
          <ion-input></ion-input>
          <ion-icon item-end slot="end" name="{{showPass ? 'eye' : 'eye-off'}}"></ion-icon>
      </ion-item>
  
    </div>
  
  
    <div class="paginacion">
  
  
      <ion-button  class="btn-custom5">
        <div class="detalles-btn2">
          <ion-icon name="chevron-back"></ion-icon>
        </div>
      </ion-button>
    
      <ion-button class="btn-custom5">
        <div class="detalles-btn2" >
          1
        </div>
      </ion-button>
    
      <ion-button class="btn-custom5">
        <div class="detalles-btn2">
          2
        </div>
      </ion-button>
  
      <ion-button class="btn-custom5">
        <div class="detalles-btn2">
         3
        </div>
      </ion-button>
  
      <ion-button class="btn-custom5">
        <div class="detalles-btn2">
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      </ion-button>
      
    </div>
    
  
  </ion-content>
  