<ion-header class="ion-no-border">
  <div class="cabezera">
    <div class="cabezera-separador">
        <div class="cabezera-principal">
          <img  (click)="goTo('/profile')" src="assets/img/hambur.png" alt="">
          <h1 class="cabezera-titulo">Hola, Mauricio</h1>
          <!-- <span>
            <p> <strong style="font-size: 20px;">32</strong> <br> <span style="opacity: 0.9; font-size: 0.75rem;">Premios</span></p>
          </span>
          <span>
            <p> <strong style="font-size: 20px;">104</strong> <br> <span style="opacity: 0.9; font-size: 0.75rem;">Mi red</span></p>
          </span> -->
      </div>
      <div class="cabezera-secundaria">
         <div>
           <img src="assets/img/moneda-grande.png" alt="">
           <span>  1200   </span>
         </div>
        <!-- <div class="contenedor-barra">
             <p style="margin: 0; text-align: right; color: #fff;">25/25</p>
          <ion-progress-bar value="0.2" class="barra-invertida"></ion-progress-bar>
        </div> -->
      </div>
    </div>
    <div class="cabezera-terciaria">
     <div class="cabezera-terciaria-contenedor">
       <div class="caja">
         <p>32</p>
         <p>Mis premios</p>
       </div>
       <div class="caja">
         <p>37</p>
         <p>Productos</p>
       </div>
       <div class="caja">
         <p>28</p>
         <p>Mi red</p>
       </div>
     </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="form-input">
    <ion-input (click)="modalbuscar()"      type="text" placeholder="Buscar en Recomiendo...">
      <ion-icon src="assets/img/icon/busqueda.svg" class="icono"></ion-icon>
    </ion-input>
  </div>
  <div class="conocerte">
    <h1 class="conocerte-titulo">¡Ayúdanos a conocerte!</h1>
    <div class="conocerte-box">
      <p class="conocerte-box-subtitulo">Responde a las opciones y ganes puntos</p>
      <span class="conocerte-box-imagen">
        <p>+150</p>
        <img src="assets/img/moneda.png" alt="">
      </span>
    </div>
  </div>
  <div class="conocerte-tarjeta">
    <div class="conocerte-box2">
      <p class="conocerte-box2-subtitulo2">¿Qué tipo de comida <br>te gusta?</p>
      <img class="conocerte-box2-imagen2"src="assets/img/icon/compartir.svg" alt="">
    </div>
    <div class="conocerte-menudia">
      <div style="position: relative; overflow: hidden;">
        <div class="conocerte-menudia-titulo">
          <p>hamburguesa</p>
        </div>
        <img class="imagenmenudia" src="assets/img/hambur.png" alt="">
      </div>
      <div style="position: relative; overflow: hidden;">
        <div class="conocerte-menudia-titulo">
          <p>pizza</p>
        </div>
        <img class="imagenmenudia" src="assets/img/pizza.png" alt="">
      </div>
    </div>
  </div>
  <div class="conocerte">
    <h1 class="conocerte-titulo">Los más recomendados</h1>
    <div class="conocerte-box">
      <p class="conocerte-box-subtitulo">En los mejores puesto de comida</p>
      <span class="conocerte-box-imagen">
        <p style="font-size: 0.9375rem; color: #FF8800;" (click)="modalrecomendado()">Ver todos</p>
      </span>
    </div>
  </div>
  <div class="carrousel1">
    <ion-slides [options]="slideOpts" #slide (click)="modalproductosdetalles()">
      <ion-slide >
        <div style="overflow: hidden; position: relative;">
          <div class="slide-precio">
            <p>15.000 $</p>
          </div>
          <div class="slide-titulo">
            <p>hamburguesa ranchera</p>
          </div>
          <img src="assets/img/food1.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="overflow: hidden; position: relative;">
          <div class="slide-precio">
            <p>8.000 $</p>
          </div>
          <div class="slide-titulo">
            <p>pastelito criollo</p>
          </div>
          <img src="assets/img/food2.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="overflow: hidden; position: relative;">
          <div class="slide-precio">
            <p>2.000 $</p>
          </div>
          <div class="slide-titulo">
            <p>hamburguesa chilena</p>
          </div>
          <img src="assets/img/food3.png"/>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="recomendaciones">
    <img src="assets/img/recomiendasitios.png" alt="">
    <img src="assets/img/invitaramigos.png" alt="">
  </div>
  <div class="conocerte">
    <h1 class="conocerte-titulo">Premios disponibles</h1>
    <div class="conocerte-box">
      <p class="conocerte-box-subtitulo">Acumula puntos y reclama<br> alguno de estos</p>
      <span class="conocerte-box-imagen">
        <p style="font-size: 0.9375rem; color: #FF8800;">Ver todos</p>
      </span>
    </div>
  </div>
  <div class="carrousel2">
    <ion-slides [options]="slideOpts" #slide>
      <ion-slide>
        <div style="overflow: hidden; position: relative;">
          <div class="slide-precio">
            <p> 
              <img src="assets/img/moneda.png" alt="">
              15.000
            </p>
          </div>
          <div class="slide-titulo2">
            <p>hamburguesa ranchera</p>
          </div>
          <img src="assets/img/food1.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="overflow: hidden; position: relative;">
          <div class="slide-precio">
            <p> 
              <img src="assets/img/moneda.png" alt="">
              9.000
            </p>
          </div>
          <div class="slide-titulo2">
            <p>pastelito criollo</p>
          </div>
          <img src="assets/img/food2.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="overflow: hidden; position: relative;">
          <div class="slide-precio">
            <p> 
              <img src="assets/img/moneda.png" alt="">
              2.000
            </p>
          </div>
          <div class="slide-titulo2">
            <p>hamburguesa chilena</p>
          </div>
          <img src="assets/img/food3.png"/>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
