.container{
    --background: transparent url('../../../assets/img/felicitaciones.png') 0% 0% no-repeat padding-box;
    .congrats{
        position: relative;
        top: 15%;
    }
}
ion-title{
    font: Bold 28px/38px Quicksand;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
}
p{
    text-align: center;
    font: Light 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 0 1.3rem;
}
.coin{
    margin: 0 auto;
    display: block;
    width: 14rem;
    height: 14rem;
}
ion-button {
    --ion-color-base: white !important;
    margin: 1rem 0.5rem;
    top: 3.2rem;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
  }

  .finalUser {
    --background: linear-gradient(90deg, rgba(255, 36, 36, 1) 0%, rgba(255, 187, 0, 1) 80%);
  }