<ion-header class="ion-no-border">
  <ion-toolbar class="naranja">
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="salir()"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" style="font-size: 21px;">Reestablecer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor">
    <div class="contenedor-cabezera">
      <div>
        <h2 style="margin: 0; font-size: 18px; margin-bottom: .5rem;"> He olvidado la contraseña</h2>
        <p style="margin: 0; color: #C0C0C0; font-size: 15px;">Te enviaremos un código para restablecer la contraseña.</p>
      </div>
    </div>
    <ion-item>
      <ion-input     
      formControlName="email" 
      placeholder="Dirección de correo electrónico *"
      inputmode="email" required>
      </ion-input>
    </ion-item>
  </div> 
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button style="margin: 0 auto; height: 60px; color: #fff; 
  --border-radius: 23px; font-size: 23px;" 
  expand="block" shape="round" class="finalUser second" mode='ios'>
    Recuperar
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-button>
</ion-footer>
