
<ion-content>

  <div class="contenedor-alimento">
    <div class="slide-precio">
      <p style="color: white;"> <ion-icon name="star" style="color: #FFB300;"></ion-icon> 4.7 </p>
    </div>
    <img src="assets/img/food1grande.png"  style="width: 100%;"  alt="">
  </div>


  <div class="contenedor">
    <h1 style="font-size: 25px;">Hamburguesa Ranchera</h1>
    <p style="margin: 0; color: #C0C0C0; font-size: 15px;  opacity: 0.8;">Hamburguesa carne 100% de res, queso doble crema, jamón, tocineta, chorizo, tajadas de maduro, maíz y vegetales.</p>
    <p style="color: #FF5A31; font-size: 18px;">15.000$</p>
  </div>


  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start" 
      style="margin-right: 0.5rem;
      height: 35px;
      width: 35px;
      margin-bottom: 1rem;">
        <img src="assets/img/logo-1.png">
      </ion-thumbnail>
      <ion-label>
        <h3 style="font-size: 20px; font-weight: 400;">Bunny Food</h3>
        <div class="dividir-opcion">
          <p>   
            <span class="head-star" slot="start">
              <ion-icon src="assets/img/icon/estrella.svg" class="icono-start"></ion-icon>
              <ion-icon src="assets/img/icon/estrella.svg" class="icono-start"></ion-icon>
              <ion-icon src="assets/img/icon/estrella.svg" class="icono-start"></ion-icon>
              <ion-icon src="assets/img/icon/estrella.svg" class="icono-start"></ion-icon>
              <ion-icon src="assets/img/icon/estrella.svg" class="icono-start"></ion-icon>
            </span>
          </p>
          <p style="color: #C0C0C0; font-size: 15px;">Mas información <span style="color: #FF5A31;"> > </span></p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <p style="font-size: 18px; margin-left: 1rem; font-weight: 400;">Comentarios</p>
  <ion-textarea  auto-grow="true" 
   class="personalizar-textarea"
  placeholder="Agrega instrucciones o comentarios">
  </ion-textarea>
</ion-content>


<ion-footer class="ion-no-border">
  <div class="container-footer">

    <div class="contenedor-btn">
      <ion-buttons  style="background: #F3F3F3;">
          <ion-button color="dark" class="personalizar-btn"> 
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
        <p style="margin: 0; color: #C0C0C0;">  1 </p>
        <ion-button color="dark"  class="personalizar-btn"> 
          <ion-icon name="add-outline"></ion-icon>
        </ion-button> 
      </ion-buttons>  
    </div>

    <div class="contenedor-agregar">
      <ion-button class="btn-food" size="small"  (click)="go()">Agregar</ion-button>
    </div>

  </div>
</ion-footer>
