<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
          <ion-buttons slot="start" class="color">
            <ion-back-button defaultHref="/" style="color: #fff;"></ion-back-button>
          </ion-buttons>

          <ion-title class="title">Mi red > Mariac12</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div class="contenedor-buscar">
      <ion-searchbar   placeholder="Buscar amigos..."></ion-searchbar>
    </div>



    <ion-list>
      <ion-item>
        <div style="position: relative;">
          <ion-thumbnail slot="start" style="margin-right: 1rem;margin-bottom: 1rem; margin-top: 0;">
            <img src="assets/img/icon/usuario.png">
          </ion-thumbnail>
          <ion-badge  class="detalle-number" color="danger">
            <ion-icon src="assets/img/icon/usuario.svg"></ion-icon>          
            1000
          </ion-badge>
        </div>
        <ion-label>
          <h3 style="font-size: 18px;">Mariac12</h3>
          <img class="btn-food" src="assets/img/icon/mi-red2.png">
          <p style="color: #C0C0C0; font-size: 15px;">Mariac12</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <div style="position: relative;">
          <ion-thumbnail slot="start" style="margin-right: 1rem;margin-bottom: 1rem; margin-top: 0;">
            <img src="assets/img/icon/usuario.png">
          </ion-thumbnail>
          <ion-badge  class="detalle-number" color="danger">
            <ion-icon src="assets/img/icon/usuario.svg"></ion-icon>          
            1000
          </ion-badge>
        </div>
        <ion-label>
          <h3 style="font-size: 18px;">Mariac12</h3>
          <img class="btn-food" src="assets/img/icon/mi-red2.png">
          <p style="color: #C0C0C0; font-size: 15px;">Mariac12</p>
        </ion-label>
      </ion-item>



      <ion-item>
        <div style="position: relative;">
          <ion-thumbnail slot="start" style="margin-right: 1rem;margin-bottom: 1rem; margin-top: 0;">
            <img src="assets/img/icon/usuario.png">
          </ion-thumbnail>
          <ion-badge  class="detalle-number" color="danger">
            <ion-icon src="assets/img/icon/usuario.svg"></ion-icon>          
            1000
          </ion-badge>
        </div>
        <ion-label>
          <h3 style="font-size: 18px;">Mariac12</h3>
          <img class="btn-food" src="assets/img/icon/mi-red2.png">
          <p style="color: #C0C0C0; font-size: 15px;">Mariac12</p>
        </ion-label>
      </ion-item>



      <ion-item>
        <div style="position: relative;">
          <ion-thumbnail slot="start" style="margin-right: 1rem;margin-bottom: 1rem; margin-top: 0;">
            <img src="assets/img/icon/usuario.png">
          </ion-thumbnail>
          <ion-badge  class="detalle-number" color="danger">
            <ion-icon src="assets/img/icon/usuario.svg"></ion-icon>          
            1000
          </ion-badge>
        </div>
        <ion-label>
          <h3 style="font-size: 18px;">Mariac12</h3>
          <img class="btn-food" src="assets/img/icon/mi-red2.png">
          <p style="color: #C0C0C0; font-size: 15px;">Mariac12</p>
        </ion-label>
      </ion-item>
    </ion-list>



  </div>  
</ion-content>
