.naranja {
  color: white;
  font-size: 25px;
  padding: 0.5rem;
  --background: linear-gradient(160deg, #FF2424 0%, #FFB300 100%) 0% 0% no-repeat padding-box;
}

.contenedor {
  height: 100%;
  box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.32);
}

.contenedor-cabezera {
  display: flex;
  margin-left: 1rem;
  padding-top: 1rem;
}

.avatar {
  text-align: left;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.41);
}

.container-footer {
  width: 95%;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.container-footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-valor {
  background-color: #FF5A31;
  color: white;
  margin-left: 12px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  text-align: center;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-food {
  width: 100%;
  height: 33px;
  --padding-end: 5px;
  --padding-start: 5px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  margin: 0;
  --border-radius: 5px;
  --background: transparent linear-gradient(-90deg, #FFB300 0%, #FF2424 100%) 0% 0% no-repeat padding-box;
}

.contenedor-tarjeta {
  display: flex;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.contenedor-info {
  flex: 50%;
  display: flex;
}

.contenedor-btn {
  flex: 50%;
  display: flex;
  justify-content: center;
}
