<ion-header class="ion-no-border">
  <ion-toolbar class="naranja">
    <ion-buttons slot="start">
      <ion-icon name="close-outline" (click)="salir()"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios" style="font-size: 18px;">Tu pedido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor">
    <div class="contenedor-cabezera">
      <div>
        <img src="assets/img/logobunny.png" alt="logo" class="avatar" style="margin-right: 0.3rem;">
      </div>
      <div>
        <h2 style="margin: 0;"> Bunny Food</h2>
        <p style="margin: 0; color: #FF8800;">Volver a la tienda</p>
      </div>
    </div>
    <div class="contenedor-tarjeta">
        <div class="contenedor-info">
          <img src="assets/img/food1.png" style="width: 57px; height: 57px;"/>
          <div style="margin-left: 0.3rem;">
            <p style="margin: 0; font-size: 0.8rem;">Hamburguesa Ranchera</p>
            <p style="margin: 0; color: #FF8800;">15.000$</p>
          </div>
        </div>
        <div class="contenedor-btn">
          <ion-buttons  style="background: #F3F3F3; width: 60%; margin: 0 auto;">
              <ion-button color="dark"> 
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            <p style="margin: 0; color: #C0C0C0;">  1 </p>
            <ion-button color="dark"> 
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button> 
          </ion-buttons>  
        </div>
    </div>
  </div>  
</ion-content>
<ion-footer class="ion-no-border">
  <div class="container-footer">
    <div class="container-footer-body">
        <div class="contenedor-valor"> 
           <p style="margin: 0"> 1 </p>
        </div>
        <div>               
            <ion-button class="btn-food">Realizar pedido</ion-button>
        </div>
        <div> <p style="margin-right: 1rem; color: #FF5A31; font-size: 18px;">$15.000</p></div>
    </div>
  </div>
  <ion-button  style="color: #C0C0C0;"   expand="block" fill="clear" shape="round">
    Limpiar pedido
  </ion-button>
</ion-footer>
